 <form>
        <!-- style="padding: 7% 35% 0%;" -->
        <fieldset>
            
            <div class="container">
                <!-- style="padding-top: 10%;" -->
                <main  role="main" class="pb-3">
                    <!-- <h3>Welcome to the Blog!</h3> -->
                    <legend>Register user</legend>

                    <div class="form-group">    

                        
                        <div class="row">
                            <div class="form-floating mb-3 col-lg-6">
                                <input type="text" class="form-control" id="floatingInput" placeholder="FirstName">
                                <label for="floatingInput">First Name</label>
                                <small id="firstNameHelp" class="form-text text-muted">Minimum length is 8 characters.</small>
                            </div>
                            <div class="form-floating mb-3 col-lg-6">
                                <input type="text" class="form-control" id="floatingInput" placeholder="LastName">
                                <label for="floatingInput">Last Name</label>
                            </div>
                        </div>
                        
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="UserName">
                            <label for="floatingInput">User Name</label>
                            <small id="userNameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="email" value="correct value" class="form-control is-valid"  id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>
                            <div class="valid-feedback">such email is free</div>
                        </div>

                        <div class="form-floating has-danger mb-3">
                            <input type="password" value="wrong value" class="form-control is-invalid" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Password</label>
                            <div class="invalid-feedback">sorry, wrong password. try another?</div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                        <div class="col-lg-9" style="padding-left: 52%;">
                            <p class="text-primary">Already have login and password?</p>                                                   
                        </div>
                        <div class="col-lg-1">
                              <p>
                                <a href="" class="text-info">Sign In</a>
                              </p>
                        </div>   

                    </div>
                        
                    </div>

                </main>                                         
            </div> 
        </fieldset>
    </form>