<style type="text/css">
        
    .card{
        float: left;
        margin-right: 2%;
        margin-bottom: 2%;
        width: 45%;
    }   
        
    .text-info{
        text-align: right;
    }
    
</style>

<form>
    <fieldset>
        <div class="container">
            <main role="main" class="pb-3">
                <legend>All Tags</legend>
                <div class="form-group">

                    <hr>
                    <div class="mb-4">
                        <a href="">add tag</a>
                    </div>

                    <div class="card">
                        <div class="card-body">

                            <div class="row">
                                <div class="form-floating col-lg-6">
                                    <h4 class="card-title mb-3">ИТ - индустрия</h4>
                                </div>
                                <div class="form-floating col-lg-6">
                                    <p class="text-info"> number of posts : 3 </p>
                                </div>
                            </div>

                            <a href="#" class="card-link">Edit tag</a>
                            <a href="#" class="card-link">Go to posts</a>

                        </div>
                        <div class="card-footer text-muted">
                            <small>creation date:</small><small class="text-muted">12.03.2022</small>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">

                            <div class="row">
                                <div class="form-floating col-lg-6">
                                    <h4 class="card-title mb-3">ИТ - индустрия</h4>
                                </div>
                                <div class="form-floating col-lg-6">
                                    <p class="text-info"> number of posts : 3 </p>
                                </div>
                            </div>

                            <a href="#" class="card-link">Edit tag</a>
                            <a href="#" class="card-link">Go to posts</a>

                        </div>
                        <div class="card-footer text-muted">
                            <small>creation date:</small><small class="text-muted">12.03.2022</small>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">

                            <div class="row">
                                <div class="form-floating col-lg-6">
                                    <h4 class="card-title mb-3">ИТ - индустрия</h4>
                                </div>
                                <div class="form-floating col-lg-6">
                                    <p class="text-info"> number of posts : 3 </p>
                                </div>
                            </div>

                            <a href="#" class="card-link">Edit tag</a>
                            <a href="#" class="card-link">Go to posts</a>

                        </div>
                        <div class="card-footer text-muted">
                            <small>creation date:</small><small class="text-muted">12.03.2022</small>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">

                            <div class="row">
                                <div class="form-floating col-lg-6">
                                    <h4 class="card-title mb-3">ИТ - индустрия</h4>
                                </div>
                                <div class="form-floating col-lg-6">
                                    <p class="text-info"> number of posts : 3 </p>
                                </div>
                            </div>

                            <a href="#" class="card-link">Edit tag</a>
                            <a href="#" class="card-link">Go to posts</a>

                        </div>
                        <div class="card-footer text-muted">
                            <small>creation date:</small><small class="text-muted">12.03.2022</small>
                        </div>
                    </div>


                </div>
            </main>
        </div>


    </fieldset>
</form>